script(src='jspm_packages/system.js')
script(src='config.js')
script(src='https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en')
script.
  var readyForMainLoad
  if (location.origin.match(/localhost/)) {
  System.trace = true
  readyForMainLoad = System.import('capaj/systemjs-hot-reloader').then(function(HotReloader){
  hr = new HotReloader.default('http://localhost:9080')  // chokidar-socket-emitter port
  })
  }
  Promise.resolve(readyForMainLoad).then(() => {
  System.import('app').then(function () {
  console.log('ran at ', new Date())
  })
  })
